<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
=======
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

header {
    background: #007bff;
    color: white;
    padding: 20px;
>>>>>>> b8362d9916cc9e6b169a1fef75b3c575c6aa9fb0
}